/* Toolbar CSS */
#toolbar{position: absolute; top: -14px; left: 0; height: 15px; text-align: center; margin: 0 0 2px 0; padding: 0; width: 100%; border-bottom: 1px solid #DDDDDD; background-color: #FFFFFF; z-index=99;}
#toolbar table{ border-collapse: collapse; padding: 0; margin: 0; text-align: center; width: 100%;}
#toolbar td{ padding: 0; margin: 0; font-size: 10px;}
#tbConfig{ width: 20%; text-align: left; color: #0000FF; text-decoration: underline; cursor: pointer;}
#tbConvert{	width: 30%;	color: #FF0000;	text-decoration: underline;	cursor: pointer;}
#tbRefresh{	width: 20%;	cursor: pointer; color: #0000FF; text-decoration: underline; text-align: right;}

/* Toolbar Vis CSS */
#toolbarVis{ position: relative; margin: 6px 0 0 0; padding: 0;	width: 100%; height: 3px; background-color: #666666; cursor: n-resize; text-align: center;}
#toolbarVis img{ border: none; margin: 0 auto; padding: 0;}
#upImg{ position: absolute; top: -5px;}
#dnImg{ position: absolute; bottom: -6px;}	

/* Table Div CSS */
#tablediv{ width: 100%; margin: 2px 0 0 0; padding: 0;}
#tablediv table { border-collapse: collapse; width: 100%;}
#tablediv td { background-color: inherit; padding: 2px;}
#tablediv tr{ background-color: inherit;}
#dataTable td{ text-align: center;}
.colid { font-weight: bold; border-bottom: 1px solid #000000; text-align: center;}

/* Font Size CSS */
.xsmall{ font-size: 10px;}
.small{ font-size: 11px;}
.medium{ font-size: 12px;}
.large{ font-size: 14px;}
.xlarge{ font-size: 16px;}

/* Config Table CSS */
#configTable{ width: 100%;}
#configTable div{width: 100%;}
#configTable td{font-size: 11px;}
#shUrl{width: 100%;}		
.configTitle{text-align: left; width: 30%;}
.configText{ text-align: left; width: 70%;}

/* Misc CSS */
h1{font-size: 22px; text-align: center; margin: 2px 0; padding: 0;}
h3{font-size: 16px; text-align: center; margin: 1px 0; padding: 0;}
.error, .red{color: #FF0000;}
.green{color: #CC0000;}
#oldtxt, #litetxt{width: 100%;height: 100px;}
.left{text-align: left;}
.exampleSpan{padding-right: 25px;border: 1px solid #DDDDDD;}
.highlight{background-color: #FFFF99; width: 100%; color: #000000;}
.dragging{font-weight: bold; cursor: move; text-align: center;}
.link{color: #0000FF; text-decoration: underline; cursor: pointer;}
litePrev{border: 1px solid #DDDDDD;}

